{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<section class="login-form">
  <div class="mask d-flex align-items-center h-100" style="background-color: #D6D6D6;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card" style="border-radius: 1rem;">
            <div class="card-body p-5">
              <div class="my-3 pb-3">
                <div class="text-center mb-3">

                  <h1 class="col-12">{% trans "Sign In" %}</h1>
                  <hr>
                  {% get_providers as socialaccount_providers %}
                  {% if socialaccount_providers %}
                  <p class="col-12">{% blocktrans with site.name as site_name %}Please sign in with one
                    of your existing third party accounts.{% endblocktrans %}</p>
                  <div class="my-3">
                    {% include "socialaccount/snippets/login_extra.html" %}
                  </div>
                  <div class="socialaccount_ballot my-3">
                    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                  </div>
                  <hr>
                  <p>{% blocktrans with site.name as site_name %} Or sign in below:{% endblocktrans %}</p>
                  {% else %}
                  <p>{% blocktrans %}If you have not created an account yet,<br> then please
                    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
                  {% endif %}
                </div>
                <form class="login" method="POST" action="{% url 'account_login' %}">
                  {% csrf_token %}
                  {{ form|crispy }}
                  {% if redirect_field_value %}
                  <input class="form-control form-control-lg mb-3" type="hidden" name="{{ redirect_field_name }}"
                    value="{{ redirect_field_value }}" />
                  {% endif %}
                  <div class="text-center">
                    <a class="btn btn-secondary"
                      href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                    <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
                  </div>
                </form>
              </div>
              <hr>
              <div class="text-center">
                <p class="mb-0">Don't have an account? <a href="{% url 'account_signup' %}"
                    class="text-body fw-bold">Sign Up</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}