{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="row">
    <div class="col-sm-12 col-md-6">
        {% if context %}
        {% for expense in context.expense %}
        {% if forloop.first or forloop.counter|divisibleby:"3" == 1 %}
        <div class="row container">
            {% endif %}
            <div class="col m4">
                <div class="card teal lighten-4 hoverable">
                    <div class="card-content card-style">
                        <div class="row">
                            <span class="col card-title card-title-media">Record.Title</span>
                            <a href="" class="btn waves-effect waves-light btn-floating" id="edit_record"><i
                                    class="fa fa-edit"></i>url_for('edit_record', record_id=record.id) </a>
                            <p class="right col s3">record.activity</p>
                        </div>
                    </div>
                    <div class="card-action">
                        <ul class="collapsible white">
                            <li>
                                <div class="collapsible-header"><i class="fa fa-arrow-down left"></i>Record information
                                </div>
                                <div class="collapsible-body white">
                                    <span>
                                        <p>Notes: record.notes </p>
                                    </span>
                                    <span>
                                        <p>Duration: record.duration </p>
                                    </span>
                                    <span>
                                        <p>Date: record.date_time </p>
                                    </span>
                                    <span>
                                        <p>Quantity: record.quantity
                                        </p>
                                    </span>
                                    <span>
                                        <p>Location: </p>
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% if forloop.first or forloop.counter|divisibleby:"3" == 0 %}
        </div>
        {% endif %}
        {% endfor %}

        {% else %}
        <div class="d-flex  justify-content-evenly">
            <div class="col-10 mx-lg-3 p-3 my-3 text-white bg-info rounded card">
                <div class="d-flex card-content ">
                    <div>
                        <i class="fas fa-cannabis fa-xl mx-1 mx-lg-5"></i>
                    </div>
                    <div>
                        <h1 class="h5 mb-3 text-white card-content"> You have no expenses so far!</h1>
                        <small>Add some using the button below</small>
                    </div>
                </div>
            </div>
        </div>
        <!-- Grid container for buttons -->
        <div class="text-center flex-column mt-3">
            <a class="" href="{% url 'add_image' %} " role="button">
                <i class="fas fa-plus-circle fa-2xl text-info"></i>
            </a>
            <p class="mt-1">Add a new expense</p>
        </div>
        {% endif %}
    </div>
    <Section class="col-sm-12 col-md-6">
        <div id="topnav" class="mx-5 my-3 pt-lg-2">
            <h1 class="h5">Search and follow users here:</h1>
            <div class="">
                <form method="GET" action="{% url 'user_search' %}" class="d-flex">
                    {% csrf_token %}
                    <input type="text" id="user_search" name="user_search" class="form-control border mb-3 flex-grow-1"
                        placeholder="User Search">
                    <button type="submit" class="btn btn-outline-primary mb-3 ms-3">
                        Search
                    </button>
                </form>
            </div>
            <ul class="list-group list-group-light list-unstyled">
                {% if profiles %}
                <p>Search Results</p>
                {% endif %}
                {% for user_profile in profiles %}
                <li class="my-3">
                    <form method="POST" action="{% url 'update_following' user_profile.pk %}">
                        {% csrf_token %}
                        <div class="card">
                            <div class="card-content d-flex justify-content-between text-nowrap">
                                {% if user_profile.UserProfile.profile_image_url %}
                                <img class="rounded-circle border-dark" src={{request.user.profile_image}}} alt="Avatar"
                                    style="width: 50px; height: 50px;">
                                {% else %}
                                <a class="h1 mt-1 ms-me-3 text-center align-middle btn btn-large btn-secondary btn-floating text-bg-light"
                                    href="{% url 'user_home' %}"><i class="fas fa-user-alt fa-xl"></i>
                                </a>
                                {% endif %}
                                <a href="{% url 'profile' user_profile.pk %}">
                                    <p class="ms-3 my-3">{{ user_profile }}</p>
                                </a>
                                <div class="my-3">
                                    {% if user_profile in profile.follows.all %}
                                    <!-- <button class="btn btn-sm bg-success" disabled>Follow</button> -->
                                    <button class="btn btn-sm bg-danger mx-1" name="follow"
                                        value="unfollow">Unfollow</button>
                                    {% else %}
                                    <button class="btn btn-sm  bg-success" name="follow" value="follow">Follow</button>
                                    <!-- <button class="btn btn-sm bg-danger mx-1" disabled>Unfollow</button> -->
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </form>
                </li>
                {% endfor %}
            </ul>
            <h1 class="h5 mt-md-5">Already Following:</h1>
            <ul class="list-group list-group-light list-unstyled">
                {% for following in profile.follows.all %}
                <li class="my-3">
                    <form method="POST" action="{% url 'update_following' following.pk %}">
                        {% csrf_token %}
                        <div class="card">
                            <div class="card-content d-flex justify-content-between text-nowrap">
                                <a href="{% url 'profile' profile.pk %}">
                                    <p class="ms-3 my-3">{{ following }}</p>
                                </a>
                                <div class="my-3">
                                    <button class="btn btn-sm bg-danger mx-1" name="follow"
                                        value="unfollow">Unfollow</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </li>
                {% endfor %}
            </ul>
        </div>
    </Section>
</div>
<footer class=" text-white fixed-bottom bg-secondary bg-gradient" style="background-color: #caced1;">

    <!-- Grid container -->

    <!-- Copyright -->
    <div class="p-1 navbar-colour d-flex justify-content-end">
        © 2022 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">KwikSplit.com</a>
    </div>
    <!-- Copyright -->
</footer>
{% endblock %}

{% block postload-js %}
<!-- <script>
    function addUser(profile) {

        event.preventDefault();
        // get form and list-item element to add to input
        parentListItem = event.target.parentElement

        // create a div to hold the users selected
        var div = document.createElement("div");
        div.classList.add("form-outline", "d-flex", "align-items-center")

        //create a input element for each selected user with a name of user
        var input = document.createElement("input");
        input.name = "add_users";
        input.type = "text"
        id_number = Math.random().toString(36)
        input.id = id_number
        input.classList.add("form-icon-trailing", "form-control");
        input.readOnly = true;
        input.value = parentListItem.outerText;

        var label = document.createElement("label")
        label.classList.add("form-label");
        label.htmlFor = id_number;

        var icon = document.createElement("i");
        // add classes and append to new elements
        icon.classList.add("fas", "fa-times-circle", "fa-xl", "text-danger", "cursor", "mb-3");

        icon.addEventListener('click', function handleClick(event) {
            event.preventDefault();
            parent = event.target.closest('div').remove();
        });

        div.appendChild(input);
        div.appendChild(label)
        div.appendChild(icon);
        form.prepend(div);

        parentListItem.remove()
    }
</script> -->
{% endblock %}