{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="row justify-content-evenly">
    <section class="col-md-12 col-lg-5 p-3 g-0">
        {% if expenses %}
        <h1 class="ms-3 h5">Expenses still to pay:</h1>
        <div class="m-3">
            <form class="" id="unpaid_item_form" method="POST" action="{% url 'add_expense' %}">
                <div class="collapse" id="empty_content">
                    <div class="d-flex justify-content-evenly">
                        <div class="col-12 mx-lg-3 p-3 my-3 text-white bg-info rounded card">
                            <div class="d-flex card-content ">
                                <div>
                                    <i class="fas fa-cannabis fa-xl mx-1 mx-lg-5"></i>
                                </div>
                                <div>
                                    <h1 class="h5 mb-3 text-white card-content"> You have
                                        expenses to pay!</h1>
                                    <small>Add some using the button below</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion" id="accordion1" onload="accordian_content(this)" class="panel-group"
                    role="tablist" aria-multiselectable="false">
                    {% for expense in expenses %}
                    {% for line_item in expense.lineitems.all %}
                    {% if line_item.user_profile == profile and line_item.is_paid == False %}
                    <div class="accordion-item">
                        <span class="d-flex justify-content-between p-2">
                            <h6 class="accordion-header my-3"
                                id="heading_{{ forloop.counter0 }}_{{ expense.expense_id }}">
                                {{ expense.supplier_name }}
                            </h6>
                            <p class="text-muted mt-3">owner:
                                {{ expense.user_profile }}</p>
                            <a class="btn btn-primary btn-floating float-right m-2" role="button"
                                aria-controls="accordian1_{{ forloop.counter0 }}_{{ expense.expense_id }}"
                                onclick="toggle_accordion(this);">
                                <i class="fas fa-angle-double-down float-right"></i>
                            </a>
                        </span>
                        <span class="d-flex flex-row-reverse align-items-center p-2">
                            <i class="fas fa-thumbs-down text-danger mb-3 mx-3"></i>
                            <p class="fw-bold">Net Amount: {{ expense.net_amount }}
                            </p>
                            <small class="text-muted mb-3 me-3">Amount paid: {{ expense.paid_amount }}</small>
                        </span>
                        <div id="accordian1_{{ forloop.counter0 }}_{{ expense.expense_id }}"
                            class="accordian-body collapse"
                            aria-labelledby="heading_{{ forloop.counter0 }}_{{ expense.expense_id }}">
                            <div class="p-1">
                                <div class="table-responsive">
                                    <table class="table table-sm caption-top align-middle mb-0 bg-white">
                                        <caption>
                                            You owe for:
                                        </caption>
                                        <thead class="bg-light">
                                            <tr>
                                                <th>Description</th>
                                                <th>Quantity</th>
                                                <th>Amount</th>
                                                <th>Total</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for line_item in expense.lineitems.all %}
                                            {% if line_item.user_profile == profile and line_item.is_paid == False %}
                                            <tr>
                                                <input class="collapse collapse-horizontal" name="{{ line_item.pk }}"
                                                    id="{{ line_item }}" value="{{ line_item.pk }}">
                                                </input>
                                                <td>
                                                    <p>{{ line_item.description }}</p>
                                                </td>
                                                <td>
                                                    <p>{{ line_item.quantity }}</p>
                                                </td>
                                                <td>
                                                    <p>{{ line_item.amount }}</p>
                                                </td>
                                                <td>
                                                    <p>£ {{ line_item.lineitem_total }}</p>
                                                </td>
                                                <td>
                                                    <span class="badge badge-danger rounded-pill d-inline">Unpaid</span>
                                                </td>
                                            </tr>
                                            {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="text-end my-3">
                                    <button type="submit" class="btn btn-primary btn-small">Pay
                                        Expense</button>
                                </div>
                            </div>
                            <a class="btn btn-primary btn-floating float-right m-2 collapse" data-mdb-toggle="collapse"
                                href="#accordian_{{ forloop.counter0 }}_{{ expense.expense_id }}" role="button"
                                aria-expanded="false"
                                aria-controls="accordian_{{ forloop.counter0 }}_{{ expense.expense_id }}"><span
                                    class="badge badge-info m-3">Open for more details</span>
                            </a>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </div>
            </form>
        </div>
        <h1 class="ms-3 h5">Fully paid expenses:</h1>
        <div class="p-3">
            <div class="accordion" id="accordion2">
                {% for expense in expenses %}
                {% if expense.paid_amount == expense.net_amount %}
                <div class="pe-0 me-0 accordion-item">
                    <span class="d-flex justify-content-between p-2">
                        <h6 class="accordion-header my-3" id="heading_{{ forloop.counter0 }}_{{ expense.expense_id }}">
                            {{ expense.supplier_name }}
                        </h6>
                        <p class="text-muted mt-3">owner:
                            {{ expense.user_profile }}</p>
                        <a class="btn btn-primary btn-floating float-right m-2" role="button"
                            aria-controls="accordian2_{{ forloop.counter0 }}_{{ expense.expense_id }}"
                            onclick="toggle_accordion(this);">
                            <i class="fas fa-angle-double-down float-right"></i>
                        </a>
                    </span>
                    <span class="d-flex flex-row-reverse align-items-center p-2">
                        <i class="fas fa-thumbs-up text-success mb-3 mx-3"></i>
                        <p class="fw-bold">Net Amount: {{ expense.net_amount }}
                        </p>
                        <small class="text-muted mb-3 me-3">Amount paid: {{ expense.paid_amount }}</small>
                    </span>
                    <div id="accordian1_{{ forloop.counter0 }}_{{ expense.expense_id }}" class="accordian-body collapse"
                        aria-labelledby="heading_{{ forloop.counter0 }}_{{ expense.expense_id }}"
                        data-mdb-parent="#accordion2" data-toggle="collapse">
                        <div class="p-1">
                            <div class="table-responsive">
                                <table class="table table-sm caption-top align-middle mb-0 bg-white">
                                    <caption>
                                        You've paid for:
                                    </caption>
                                    <thead class="bg-light">
                                        <tr>
                                            <th>Description</th>
                                            <th>Quantity</th>
                                            <th>Amount</th>
                                            <th>Total</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for line_item in expense.lineitems.all %}
                                        {% if line_item.user_profile == profile and line_item.is_paid == True %}
                                        <tr>
                                            <input class="collapse collapse-horizontal" name="{{ line_item.pk }}"
                                                id="{{ line_item }}" value="{{ line_item.pk }}">
                                            </input>
                                            <td>
                                                <p>{{ line_item.description }}</p>
                                            </td>
                                            <td>
                                                <p>{{ line_item.quantity }}</p>
                                            </td>
                                            <td>
                                                <p>{{ line_item.amount }}</p>
                                            </td>
                                            <td>
                                                <p>£ {{ line_item.lineitem_total }}</p>
                                            </td>
                                            <td>
                                                <span class="badge badge-success rounded-pill d-inline">Paid</span>
                                            </td>
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <a class="btn btn-primary btn-floating float-right m-2" data-mdb-toggle="collapse"
                            href="#accordian2_{{ forloop.counter0 }}_{{ expense.expense_id }}" role="button"
                            aria-expanded="false"
                            aria-controls="accordian2_{{ forloop.counter0 }}_{{ expense.expense_id }}"><span
                                class="badge badge-info m-3">Open for more details</span>
                        </a>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}
            <hr class="mt-5">
            <!-- Grid container for buttons -->
            <div class="text-center flex-colum align-self-center mt-5">
                <a class="" href="{% url 'add_expense' %} " role="button">
                    <i class="fas fa-plus-circle fa-2xl text-info"></i>
                </a>
                <p class="mt-1">Add a new expense</p>
            </div>
    </section>
    <Section class="col-md-12 col-lg-5 p-3 g-0">
        <div id="topnav" class="my-3 pt-lg-2 p-3 g-0">
            <h1 class="h5">Search and follow users here:</h1>
            <div class="">
                <form method="GET" action="{% url 'user_home' %}" class="d-flex">
                    {% csrf_token %}
                    <input type="text" id="user_search" name="user_search" class="form-control border mb-3 flex-grow-1"
                        placeholder="User Search">
                    <button type="submit" class="btn btn-outline-primary mb-3 ms-3">
                        Search
                    </button>
                </form>
            </div>
            <ul class="list-group list-group-light list-unstyled">
                {% if profiles %}
                <p>Search Results</p>
                {% endif %}
                {% for user_profile in profiles %}
                {% if user_profile != profile %}
                <li class="my-3">
                    <form method="POST" action="{% url 'user_home' %}">
                        {% csrf_token %}
                        <div class="card">
                            <div class="card-content d-flex justify-content-between text-nowrap">
                                {% if user_profile.UserProfile.profile_image_url %}
                                <img class="rounded-circle border-dark" src={{request.user.profile_image}}} alt="Avatar"
                                    style="width: 50px; height: 50px;">
                                {% else %}
                                <a class="h1 mt-1 ms-me-3 text-center align-middle btn btn-large btn-secondary btn-floating text-bg-light"
                                    href="{% url 'user_home' %}"><i class="fas fa-user-alt fa-xl"></i>
                                </a>
                                {% endif %}
                                <a href="{% url 'profile' user_profile.pk %}">
                                    <p class="ms-3 my-3">{{ user_profile }}</p>
                                </a>
                                <div class="my-3">
                                    {% if user_profile in profile.follows.all %}
                                    <button class="btn btn-sm bg-warning mx-1" name="unfollow"
                                        value="{{ user_profile.pk }}">Unfollow</button>
                                    {% else %}
                                    <button class="btn btn-sm  bg-primary" name="follow"
                                        value="{{ user_profile.pk }}">Follow</button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </form>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
            <h1 class="h5 mt-md-5">Already Following:</h1>
            <ul class="list-group list-group-light list-unstyled">
                {% for following in profile.follows.all %}
                {% if following != profile %}
                <li class="my-3">
                    <form method="POST" action="{% url 'user_home' %}">
                        {% csrf_token %}
                        <div class="card">
                            <div class="card-content d-flex justify-content-between text-nowrap">
                                <a href="{% url 'profile' following.pk %}">
                                    <p class="ms-3 my-3">{{ following }}</p>
                                </a>
                                <div class="my-3">
                                    <button class="btn btn-sm bg-warning mx-1" name="unfollow"
                                        value="{{ following.pk }}">Unfollow</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </Section>
</div>
<footer class=" text-white fixed-bottom bg-secondary bg-gradient" style="background-color: #caced1;">

    <!-- Grid container -->

    <!-- Copyright -->
    <div class="p-1 navbar-colour d-flex justify-content-end">
        © 2022 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">KwikSplit.com</a>
    </div>
    <!-- Copyright -->
</footer>
{% endblock %}

{% block postload-js %}
{{ block.super }}
<script>
    function accordian_content(accordian) {
        var e = document.querySelectorAll('#accordian1 > div');
        e.length ? document.getElementById("empty_content").classList.remove('collapse') : console.log("works fine")
    }

    function toggle_accordion(button) {
        collapse_item = button.parentElement.parentElement.querySelector(".accordian-body");
        if (collapse_item.classList.contains("collapse")) {
            collapse_item.classList.remove('collapse')

        } else {
            collapse_item.classList.add('collapse')
        }
    };
</script>
{% endblock %}