/* Media Queries */
/* No media query necessary for xs breakpoint as it's effectively `@media (max-width: 0) { ... }` */
/* ----------------------------- X-Small devices (portrait phones, less than 576px)-----------------------------*/
@media (min-width: 0px) and (max-width: 1198.98px) {
    .hero-text {
        font-size: 3em !important;
        margin-left: 1em !important;
        background-color: black;
        color: #fff;
        display: inline;
        padding: 0.5rem;

        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
    }

    .section-heading {
        font-size: 3em !important;
    }
}

/* ----------------------------- Large devices (desktops, less than 1200px) ----------------------------- */
@media (min-width: 1199.98px) {
    .hero-text {
        font-weight: 800;
        text-transform: uppercase;
        background-color: black;
        color: #fff;
        display: inline;
        padding: 0.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
    }
}

/*----------------------------- General selectors ----------------------------- */

body {
    overflow-x: hidden;
}

input,
select {
    width: 100%;

}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    line-height: 1.5;
}

.navbar-colour {
    background-color: #1F1F1F;
}

.image_cover {
    object-fit: cover;
}

.cursor {
    cursor: pointer;
}

.btn-primary {
    background-color: #4c75a3;
    z-index: 1;
}

.message-container {
    z-index: 100;
    position: fixed;
}

/*----------------------------- Index Page selectors ----------------------------- */

.hero-image {
    background-image: url('static/images/branding/invoice.webp');
    position: absolute;
    top: 20vh;
    right: 5vw;
    height: 50vh;
    filter: blur(2px);
    filter: contrast(0.5);
    z-index: -1000;
    transform: skewY(15deg);

}

.hero-section {
    background-color: rgba(0, 0, 0, 0.3);
}

.section {
    min-height: 100vh;
}

.section-heading {
    margin-top: 5rem;
    font-size: 4em;
}

.divider-image {
    background-image: url('/static/images/dinner.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
}

.divider-image-background {
    height: 100%;
    width: 100%;
    transform: translate3d(20px, 20px, 0);
    background-color: #3DDC97;
    z-index: -1;
    position: relative;
    opacity: 0.75;
}

.card-margin {
    margin-right: 10px;
    margin-top: 10px;
}

.stripe {
    background-color: #635bff;
    padding: 5rem;
    position: absolute;
    top: 55%;
    right: 10%;
    width: 100vw;
    transform: rotate(-5deg) skew(-5deg);
    z-index: -1100;
    height: 60px;
    overflow: hidden;
}

.alternate-stripe {
    background-color: #3DDC97;
    padding: 5rem;
    position: absolute;
    top: 35%;
    left: 10%;
    width: 100vw;
    transform: rotate(-5deg) skew(-5deg);
    z-index: -1000;
    height: 50px;
    overflow: hidden;
}

#contact-section {
    overflow: hidden;
}

.contact-background {
    background-color: #635bff;
    position: absolute;
    top: 40%;
    width: 100vw;
    transform: rotate(-5deg) skew(-5deg);
    z-index: -1000;
    height: 100%;
}

.g-logo {
    width: 120px;
    height: 80px;
    position: absolute;
}

/*----------------------------- add image selectors ----------------------------- */

.receipt-image {
    max-height: 40vh;
    height: auto;
    width: auto;
}