{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="row d-flex justify-content-evenly flex-column m-3 p-lg-5">
    <form class="signup col-lg-12 col-xl-6 offset-xl-3" id="signup_form" method="POST" action="{% url 'add_expense' %}"
        enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-content p-3 p-lg-5 mx-auto">
            <div class="modal-header">
                <h5 class="modal-title">Upload a photo of your receipt</h5>
            </div>
            <div class="modal-body">
                <p class="form-label">Make sure it is well lit and straight</p>
                <div class="row input-group ">
                    <input type="file" name="image" class="col-10 form-control form-control-sm mb-3" id="customFile"
                        onchange="preview()" required />
                    <button type="reset" id="image-reset" onclick="clearImage()" class="btn btn-small col-2 bg-warning bg-gradient text-dark form-control-sm mb-3 disabled
                        mb-3">Clear</button>
                </div>
                <img id="frame" height="300" width="300" title="uploaded-image" src=""
                    class="img-fluid rounded mx-auto d-block my-3 d-none" alt=""></img>
                <hr>
            </div>
            <div class="d-flex justify-content-center">
                <a class="mx-3" href="{% url 'user_home' %}"><button type="button" class="btn btn-secondary btn-small"
                        data-dismiss="modal">Close</button></a>
                <button type="submit" class="mx-3 btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
{% block postload-js %}
{{ block.super }}
<script>
    function preview() {
        frame.src = URL.createObjectURL(event.target.files[0]);
        document.getElementById('frame').classList.remove('d-none');
        document.getElementById('image-reset').classList.remove('disabled');
    }

    function clearImage() {
        event.preventDefault();
        document.getElementById('customFile').value = null;
        frame.src = "";
        frame.classList.add('d-none');
        document.getElementById('image-reset').classList.add('disabled');
    }

    // function addUser() {
    //     event.preventDefault();

    //     var userSelect = document.getElementById("userSelect");

    //     if (userSelect.value != null) {
    //         // get dom elements
    //         var ul = document.getElementById("userList");

    //         // create new elements
    //         var li = document.createElement("li");
    //         var icon = document.createElement("i");
    //         var input = document.createElement("input");
    //         var p = document.createElement("p");

    //         // create a div to hold the users selected
    //         var outerDiv = document.createElement("div");
    //         var innerDiv = document.createElement("div");
    //         outerDiv.classList.add("card")
    //         innerDiv.classList.add("card-content", "d-flex", "justify-content-between", "text-nowrap",
    //             "align-items-baseline")

    //         // set up list item classes
    //         li.classList.add("mx-3", "my-3")

    //         // set up input element
    //         input.name = "add_users";
    //         input.type = "text";
    //         id_number = Math.random().toString(36);
    //         input.id = id_number;
    //         input.classList.add(
    //             "form-control", "icon-trailing", "input", "invisible");
    //         input.value = userSelect.options[userSelect.selectedIndex].value;

    //         // set up icon classes and append to new elements
    //         icon.classList.add("fas", "fa-times-circle", "fa-xl", "text-danger", "cursor", "my-3", "mx-3");
    //         icon.addEventListener('click', function handleClick(event) {
    //             event.preventDefault();
    //             parent = event.target.closest('li').remove();
    //         });

    //         p.innerText = userSelect.options[userSelect.selectedIndex].label
    //         p.classList.add("my-3", "mx-3")
    //         // li.appendChild(document.createTextNode(userSelect.options[userSelect.selectedIndex].label));
    //         innerDiv.appendChild(p)
    //         innerDiv.appendChild(input)
    //         innerDiv.appendChild(icon)
    //         outerDiv.appendChild(innerDiv)
    //         li.appendChild(outerDiv)

    //         var listItems = ul.querySelectorAll('li');
    //         var exists = false;

    //         listItems.forEach(function (listItem) {
    //             if (listItem.innerText === li.innerText) {
    //                 exists = true;
    //                 alert("Item already exists");
    //             }
    //         })
    //         if (!exists) {
    //             ul.appendChild(li);;
    //         }

    //     }
    //     userSelect.value = null;
    // }
</script>
{% endblock %}