<div class="toast show fade toast-info" role="alert" aria-live="assertive" aria-atomic="true" data-mdb-color="info"
    data-bs-autohide="true" data-mdb-position="top-center" data-mdb-offset="50">
    <div class="toast-header toast-info">
        <i class="fas fa-info-circle fa-lg me-2"></i>
        <strong class="me-auto">info!</strong>
        <button type="button" class="btn-close" data-mdb-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">{{ message }}</div>
</div>