<div class="toast show fade toast-success start-50 mt-5" role="alert" data-autohide="true" data-delay="10000">
    <div class="toast-header toast-success">
        <i class="fas fas fa-thumbs-up fa-lg me-2"></i>
        <strong class="me-auto">Success!</strong>
        <button type="button" class="btn-close" data-mdb-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        {% if message.extra_tags %}
        <div class="d-inline-flex">
            <img class="image_cover rounded-circle border-dark me-3" height="50" width="50"
                src="{{ message.extra_tags }}" alt="profile image">
            <p>{{ message }}</p>
        </div>
        {% else %}
        <p class="text-center">{{ message }}</p>
        {% endif %}
    </div>
</div>